<html>
    <body>
        <form name="signup" action="/auth/signUp" method="POST">
            fullname: <input name="fullname" id="fullname" style="color: black;"/><br/>
            username: <input name="username" id="username" style="color: black;"/><br/>
            password: <input type="password" name="password" id="password" style="color: black;"/><br/>
            <input type="submit" value="SIGN UP" class="btn btn-primary btn-lg" />
          </form>
    </body>
</html>